<!-- Main Layout -->
<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title">نظام قيد الدعاوى</span>
  <span class="spacer"></span>
  <span class="app-subtitle">ديوان المظالم</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="showSidenav" class="sidenav" *ngIf="showSidenav">
    <mat-nav-list>
      <div mat-subheader>قيد الدعوى</div>
      <a mat-list-item routerLink="/case-registration/plaintiffs" routerLinkActive="active">
        <mat-icon mat-list-icon>people</mat-icon>
        <span>المدعين</span>
      </a>
      <a mat-list-item routerLink="/case-registration/defendants" routerLinkActive="active">
        <mat-icon mat-list-icon>person_outline</mat-icon>
        <span>المدعى عليهم</span>
      </a>
      <a mat-list-item routerLink="/case-registration/case-data" routerLinkActive="active">
        <mat-icon mat-list-icon>description</mat-icon>
        <span>بيانات الدعوى</span>
      </a>
      <a mat-list-item routerLink="/case-registration/attachments" routerLinkActive="active">
        <mat-icon mat-list-icon>attach_file</mat-icon>
        <span>المرفقات</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/case-registration/deficiencies" routerLinkActive="active">
        <mat-icon mat-list-icon>warning</mat-icon>
        <span>النواقص</span>
      </a>
      <a mat-list-item routerLink="/case-registration/submit" routerLinkActive="active">
        <mat-icon mat-list-icon>send</mat-icon>
        <span>تقديم الطلب</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
